.count-main-container{
  margin:auto;
}
.count-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin:  auto;
  margin-bottom: 0;
  justify-content: center;
  width: 50%;
}
.count-box {
  list-style-type: none;
  background-color: var(--primary);
  border-radius: 5px;

  min-width: 150px;
  margin: 30px;
  padding: 10px 0;
}
.count-img {
  width: 4rem;
}
.number-div {
  /* padding: 10px 10px; */
  text-align: center;
}
.count-number {
  color: var(--text);
  /* font-size: xxx-large; */
}
.count-para {
  text-align: center;
  padding: 10px 0;
  color: var(--text);
}
@media (max-width: 648px) {
  .count-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .count-box {
    min-width: 130px;
    margin: 10px;
  }
}
