
.main-navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
}
.navbar {
  background-color:transparent;
  float: top;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 10px 0 10px 20px; */
  padding: 20px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.308);
}
.logo {
  display: flex;
  align-items: center;
  border: none;
  /* margin-top: 20px; */
  color: var(--text);
}
.logo-icon{
  width: 3rem;
  /* padding-right: 1rem; */
  margin-right: .5rem;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.list {
  font-size: 1rem;
  padding: 0 10px;
  font-weight: 600;
  letter-spacing: .2rem
;
}

.nav-list-item > a{
  color: var(--text);
  padding: 0;
  margin: 5px 0 5px 0;
  display: inline-block;text-transform: uppercase;
  color: var(--text);
  text-decoration: none;  
}
.nav-list-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  color: var(--black);
  background: var(--text);
  transition: width .3s;
}
.nav-list-item:hover::after {
  width: 100%;
}

.nav-list-item :hover {
  color: var(--primary)

}

.sign-up {
  display: none;
}
.menu-icon {
  display: none;
  padding: 0 20px;
}

@media (max-width: 648px) {
  .menu-icon {
    display: flex;
    color: var(--text);
    width: auto;
    align-items: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 15px 100px; */
    /* background-color: aqua; */
    font-weight: 500;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: all 0.4s ease;
    background-color: #4abdac1f;
    top: -50px;
    left: 100%;
  }

  .nav-list-item{
text-align: center;
width: 9rem;
padding: 15px 10px;
  }
  /* Menu Click After */
  .nav-list-mobile {
    width: 100%;
    position: absolute;
    opacity: 1;
    transition: all 0.4s ease;
    background-color: #a5fceff1;
    top: 68px;
    z-index: 1;
    left: 0%;
    padding: 0%;
  }
}
