@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* 

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */






.navmenu {
  display: flex;
  background-color: #fff;
  justify-content: space-evenly;
  border-bottom: 2px solid #0000009f;
} 
.logo
{
display: inline;
align-items: left;
/* justify-content: flex-start; */
}
.nav-menu{
  display: inline;
  /* justify-content: flex-end; */
}
.dropbtn {
  background-color: #fff;
  font-weight: bold;
  color: #e52d87;
  padding: 20px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
}

.dropdown {
  position: relative;
  top: 20px;
  display: inline-block;
}
.donatebtn {
  padding: 20px;
}
.donate {
  position: relative;
  /* top: 17px; */
  background-color: #ffffff;
  font-weight: bold;
  color: #e52d87;
  padding: 16px 20px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid #e52d87;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: #e52d87;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffffb7;
  color: #000;
}

.lat-div:hover {
  box-shadow: 1px 1px 25px 2px rgb(229, 201, 215);
}

.lat-story {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 25px;
  flex-flow:wrap
}

.lat-div {
  display: inline-block;
    margin: 5px;
  padding: 15px;
  background-color: #f5f0f2;
  text-align: left;
  width: 350px;
  
}

/* .lat-story-li{
  margin-bottom: 50px;
} */
/* .lat-sto-div{
  margin-right: 30%;
} */
.image-size
{
  max-width: 100%;
  height: auto
}
img{
  vertical-align: middle;
}
.main-img{
  position: relative;
}
.main-title{
background-color: rgba(0, 0, 0, 0.445);
  display: inline-block;
  padding: 25px 30px;
  color: #fff;
 position: relative;
  top:-550px;
  left: 300px;
}
.subtitle{
  font-size: x-large;
  text-indent: 2rem;
}
.h1{
  display: inline-block;
 padding: 0px 20px;
  margin-top: -50px; 
  color: #e52d87;
  font-size: xx-large;
  padding-bottom: 10px;
}
.lat-sign {
  background-color: #000;
  margin: 30px;
  color: #ffffff;
/* display: inline-block; */
overflow-wrap: break-word;
font-size: larger;
border-radius: 10px;
padding: 30px;
}
/* .form{
  padding: 30px;
  background-color:#FFF
} */
.signup-btn{
  background-color: #e52d87;
}
input,.signup-btn{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e52d87;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: large ;
}
.main_container{
  margin-top: -75px;
}
.sign-about{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.about-main{
border-bottom: 1px solid #e52d87;
  margin: 30px;
  margin-left: 50px;
}
.para-about{
  font-size: medium;
}

.footer{
  padding:0px 40px;
  background-color: rgba(0, 0, 0, 0.863);
  color: #e52d87;
}
.foot-btn {
  position: relative;
  top: 10px;
  background-color: #ffffff;
  font-weight: bold;
  color: #e52d87;
  padding: 16px 50px;
  font-size: 18px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  float: right;
 }
.foot-h1{
  display: inline;
  font: size xx-large;
}

.foot-list{
  display: flex;
  justify-content: space-between;
  padding: 40px 25px;
}
.foot-list-a{
  padding-right: 50px;
}
.nav-item-a{
  font-size: xx-large;
  color: #fff;
  font-weight: 800;

}
.nav-list-items >a{
  font-size:20px;
  color: #fff;
  padding-top: 15px ;
  /* border-bottom: 1px solid #e52d87; */
  line-height: 25px;
}

.nav-list{
  padding: 5px 0;
}
.share-icon{
color: #fff;
margin: 20px ;
justify-content: center;

}
.nav-list-items :hover {border-bottom: 1px solid #e52d87; transition: all 0.3s ease-out;}
#fb :hover {color: #1778F2;}
#tw :hover {color: #1DA1F2;}
#wa :hover {color: #4FCE5D;}
#yt :hover {color: #FF0000;}
