.scrollTop {
  position: fixed;
  width: 45px;
  bottom: 10px;
  align-items: right;
  height: 20px;
  right: 10px;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
