img {
  object-fit: cover;
}
p {
  text-align: justify;
}
.work-main-container {
  margin: auto;
}
.work-image {
  width: 100%;
  height: 65vh;
}
.work-title {
  position: absolute;
  text-align: center;
  top: 56vh;
  left: 0;
  width: 100%;
  color: var(--background);
  white-space: wrap;
  padding: 0 25px;
}

.main-title {
  padding: 25px 0;
  text-align: left;
  color: var(--primary);
}
.title-content {
  margin: auto;
  display: block;
  align-items: center;
  max-width: 500px;
}
.main-content {
  text-indent: 2rem;
  padding-left: 10px;
  text-align: justify;
  border-left: 2px solid var(--text);
}
.content-descp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: auto;
  padding: 30px 10px;
}
.descp-img {
  width: 30rem;
  object-fit: cover;
  height: max(15rem, 10vh);
}
.desc-title {
  color: var(--primary);
}
.descp-para {
  /* margin: auto; */
  /* display: block; */
  align-items: center;
  max-width: 500px;
  /* text-indent: 2rem; */
  /* padding-left: 10px;
  max-width: 500px;
  text-align: justify; */
}
/* .desc-title{
  text-align: right;
} */
.start-container {
  margin: auto;
}
.main-str-img {
  display: flex;
  margin: auto;
  width: max(60rem);
  height: max(23rem);
  padding: 10px;
}
.img-div:hover {
  opacity: 1;
}
.sub-img {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}
.star-img {
  display: flex;
  align-items: center;
  width: max(30rem);
  height: max(23rem);
  padding: 10px;
}
.img-div {
  opacity: 0.7;
  height: max(23rem);
  margin: 10px 10px;
}
.sub-img {
  width: max(60rem);
}
.text-main {
  display: inline-block;
  /* background-color: rgb(23, 221, 155); */
  color: rgb(255, 255, 255);
  position: relative;
  left: 855px;
  top: -115px;
}

.text {
  display: inline-block;
  color: #fff;
  position: relative;
  left: 165px;
  top: -215px;
}
.star-title {
  text-align: center;
  padding: 15px;
}
@media (max-width: 648px) {
  .work-title {
    display: none;
  }
  .work-main-container {
    margin: 10px 20px;
  }
  .main-content {
    border-left: none;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary);
  }
  .descp-img {
    width: 20rem;
    object-fit: cover;
    height: max(15rem, 10vh);
  }
  .descp-para {
    padding: none;
  }
  .content-descp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 30px 10px;
  }
  .main-str-img {
    width: 100%;
    height: max(20rem);
  }
  .img-div {
    opacity: 1;
  }
  .sub-img {
    display: inline-block;
    /* grid-template-columns: 1fr; */
    width: 100%;
    margin: auto;
  }
  .star-img {
    margin: auto;
    width: 100%;
    height: max(20rem);
  }
  .text-main {
    display: inline-block;
    position: relative;
    left: 170px;
    top: -90px;
  }
  .text {
    display: inline-block;
    position: relative;
    left: 170px;
    top: -90px;
  }
}
